*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column  ; */
}
.navsection{
    width: 100%;
    height: 12vh;
    border-bottom: 5px solid rgb(247, 47, 12);
align-items: center;
    background-color: rgb(32, 46, 46);
    display: flex;
    justify-content:space-around;
}
.logo{
    width: 40%;
    color: rgb(255, 38, 0);
     box-sizing: border-box;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: sammed 2s linear infinite;
    animation-direction: alternate;
}
.logo h1{
    font-weight: 400;
}
@keyframes sammed{
    from{ padding-left:40px ;}
   to{ padding-right: 40px;}
}
    /* width: 50%; */

nav ul {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    /* text-decoration: none; */
    list-style: none;

}
nav ul a{
    font-size: 20px;
    text-decoration: none;
    padding-right: 40px;
    color: #fff;
}
 
   
.burger{
     display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 30px;
}
.line{
    width: 33px;
    background-color: wheat;
    height: 4px;
    margin: 3px 3px;
}

/* middle banner */
.mid{
    width: 100%;
align-items: c;
    height: 88vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(255, 38, 0)), url(./hero-bg.png)   ;
    clip-path: polygon(100% 0%,100% 75%,50% 100%,0% 75%, 0 0); 
}
.intro{
    padding-top: 100px;
    width: 100%;
    /* -ms-wrap-margin: 0 auto; */
      text-align: center;
    height: 100px;
    /* justify-content: center; */
    /* margin-top:10%; */
    color: wheat;
}
.intro h2{
    font-size: 8vh;
    padding: 10px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
}
.intro h1{
    padding-left: 25px;
    font-size: 8vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
}
.intro p{
    
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-weight: 800;
}
.intro .btn1 ,.btn2{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
letter-spacing: 1px;
    font-weight: 999;
    font-size: 14px;
    text-align: center;
    padding: 11px 25px;
    cursor: pointer;
text-transform: uppercase;
border-radius: 5px;
display: inline-block;
margin-right: 50px;

}
.intro .btn1{
   
color: #fff;
background-image: linear-gradient(to right, rgb(32, 46, 46) 0%, rgb(255, 38, 0) 100%),radial-gradient(circle at top left,#4458dc,#854fee);
border: double 2px transparent;
box-shadow: 0 10px 30px rgba(118, 85, 225, .3);

}
.intro .btn2{
    border: 2px solid #fff;
    color: #fff;
background-color: transparent;
box-shadow: none    ;
}
.intro .btn1:hover{
    border: 2px solid #fff;
    color: #fff;
background-color: transparent;
box-shadow: none    ;
background-image: none;
}
 /* three bar */
.three-main{
    width: 100%;
    height: 45vh;
    display: flex;
    margin-top: 30px;
}
.blue{
    width: auto;
    height: 250px;
    color: orangered;
    background:  rgb(32, 46, 46)   ;
     margin: 40px 40px;
}   
.red{
     width: auto;
    border-bottom: 10px solid orangered;
    height: 250px;
    background-color:  rgb(32, 46, 46);
    margin: 20px 40px;
    display: flex;
    padding-left: 20px;
    color: orangered;
    flex-direction: column;
    align-items: center;


}
.red h2{
    font-size: 50px;
    animation: sakshi 1s infinite linear;
    animation-direction: alternate;
}
@keyframes sakshi{
    from{
        padding-left: 40px;
    }
    to{
        padding-right: 40px;
    }
}
.red h2,     h1{
    padding-top: 10px;
}
.red .btn3{
    width: 20%;
    text-decoration: none;
    padding: 10px 40px;
    border: 2px solid orangered;
    border-radius: 4px;
 color: #fff;
}
 































@media only screen and (max-width:610px){
    .navsection{
        flex-direction: column;
        width: 100%;
        height: auto;
        transition:   1s;
        
    }
    nav ul{
        flex-direction: column;
       
    }
    nav a{
        padding: 20px;
    }
    .line{
    transform: translateX(-50%,50%);   
}
    
    
.logo{
    margin: 10px;
    width: 111px;
}
.burger{
    
    display: block;
}
    nav{
        display: none;
        padding-left: 20px;
    }
    .mid{
        height: 80vh;
    }
    .mid .intro h2 {
        font-size: 6vh;
    }
    .intro h1{
        font-size: 5vh;
    }
    .three-main{
        flex-direction: column;
    }
    .intro p{
        font-size: 3vh;
    }
    


}
 
















